@model ParkNGo.Models.UserProperty

<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/js/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/jquery.schedule.css">
<script src="~/js/jquery.schedule.js"></script>
<style>
        #schedule-section {
        height: 60vh;
    }
</style>

<div class="container">
    <h2>Schedule</h2>
    <hr />
    <div class="message"></div>
    <div id="schedule-section"></div>
    <br />
    @Html.HiddenFor(x => x.PropertyId)
    <input type="button" class="btn btn-primary" value="Set Schedule" id="set-sched-btn" />
    <a href="/Home/Account" class="btn btn-danger">Back</a>
</div>
<script>
    $(document).ready(function () {
        //$('tbody').on("click", "td", function () {
        //    $(this).css("background-color", "red");
        //});
        var object = {};
        if ("@Model.AvailabilityId" !== "") {
            var data = @Html.Raw(Json.Serialize(@Model.AvailabilityId));
            object = JSON.parse(data);
        }
        $("#schedule-section").jqs({
            mode: 'edit',
            periodBackgroundColor: "rgba(205, 234, 212, 0.8)",
            daysList: [
                'Mon',
                'Tues',
                'Wed',
                'Thur',
                'Fri',
                'Sat',
                'Sun'
            ],
            data: object,
            periodTitlePlaceholder: 'Set price in CAD'

        });
        $("#set-sched-btn").on("click", function () {
            var data = $('#schedule-section').jqs('export');
             $.ajax({
                    type: 'POST',
                    datatype: 'Text',
                    url: 'SetSchedule',
                    data: { 'id': '@Model.PropertyId', 'scheduleJson': data},
                 success: function (data, textstatus, jqxhr) {
                        getMessage('Success', 'message', data);

                    },
                 error: function (jqxhr, textstatus, errorthrown) {
                        console.log("fail");
                        getMessage('Error', 'message', jqxhr.responseText);
                    }
                });
        });
        
    });
</script>